<% if @items.present? %>
<br>
<table class="table table-hover">
    <thead>
        <tr>
          <th>Img</th>
          <th>Product</th>
          <th>Action</th>
        </tr>
    </thead>
    <tbody>
      <% @items.each do |item| %>
        <tr>
          <td><%= image_tag(item['mediumImageUrl'], style: "width: 100px;height: 100px;display: inline-block;") %></td>
          <td>
            <%= "#{product_name(item['productName'])[0..20]..}" %><br>
            <p class='text-white-50'><%= item['makerName'].present? ? translate_maker_name(item['makerName']) : '-' %></p>
            <%= link_to item['affiliateUrl'], target: :_blank, rel: "noopener noreferrer", class: 'text-white-50', data: { confirm: '楽天で商品情報を確認しますか？' } do %>
            <i class="fas fa-external-link-alt fa-fw text-white-50"></i>楽天でみる
            <% end %>
          </td>
          <td>
            <%= link_to '追加', items_path(name: item['productName'], image_url: item['mediumImageUrl'], user_id: current_user.id, maker_name: item['makerName'], product_url: item['affiliateUrl']), method: :post, class:'btn btn-outline-success' %>
          </td>
        </tr>
      <% end %>
    </tbody>
</table>
<% end %>
