<% if @items.present? %>
<br>
<table class="table table-hover">
    <thead>
        <tr>
          <th>Img</th>
          <th>ProductName</th>
          <th>makerName</th>
          <th>ProductNo</th>
          <th>brandName</th>
          <th>Review</th>
          <th>Url</th>
        </tr>
    </thead>
    <tbody>
      <% @items.each do |item| %>
        <tr>
          <td><%= image_tag(item['mediumImageUrl'], style: "width: 100px;height: 100px;display: inline-block;") %></td>
          <td><%= item['productName'] %></td>
          <td><%= item['makerName'].present? ? item['makerName'] : '-' %></td>
          <td><%= item['productNo'] %></td>
          <td><%= item['brandName'] %></td>
          <td><%= item['reviewAverage'] %></td>
          <td><%= link_to 'Myアイテムに追加', items_path(name: item['productName'], image_url: item['mediumImageUrl'], user_id: current_user.id, maker_name: item['makerName']), method: :post %></td>
        </tr>
      <% end %>
    </tbody>
</table>
<% end %>
