<% if @items.present? %>
<br>
<table class="table table-hover">
    <thead>
        <tr>
          <th style='width: 10%'>Img</th>
          <th style='width: 30%'>ProductName</th>
          <th style='width: 20%'>makerName</th>
          <th style='width: 10%'>Review</th>
          <th style='width: 18%'>Action</th>
          <th style='width: 10%'>Url</th>
        </tr>
    </thead>
    <tbody>
      <% @items.each do |item| %>
        <tr>
          <td><%= image_tag(item['mediumImageUrl'], style: "width: 100px;height: 100px;display: inline-block;") %></td>
          <td><%= product_name(item['productName']) %></td>
          <td><%= item['makerName'].present? ? translate_maker_name(item['makerName']) : '-' %></td>
          <td><%= item['reviewAverage'] %></td>
          <td><%= link_to 'アイテムを追加', items_path(name: item['productName'], image_url: item['mediumImageUrl'], user_id: current_user.id, maker_name: item['makerName'], product_url: item['affiliateUrl']), method: :post, class:'btn btn-outline-success' %></td>
          <td><%= link_to '商品HP', item['affiliateUrl'], target: :_blank, rel: "noopener noreferrer", class: 'btn btn-outline-light'%>
        </tr>
      <% end %>
    </tbody>
</table>
<% end %>
