<div class='container'>
  <div class='col-md-9'>
      <div id="search-box">
        <%= form_tag(search_user_items_path, method: :get, style: 'display: inline;')  do %>
          <%= text_field_tag :item, "",  id: "item_search", name: "keyword", placeholder: '検索ワードを入力', class: 'form-control'%>
          <%= submit_tag "検索", class: 'btn btn-outline-warning mt-2'%>
        <% end %>
        <%= link_to 'マイアイテムへ戻る', user_items_path(current_user), class: 'btn btn-outline-light mt-2' %>
    </div>
  </div>
  <br>
  <h3>検索結果</h3>
  <% if @items.present? %>
    <div id='item_list'>
      <%= render partial: 'item_list' %>
    </div>
  <% end %>
</div>