<div class='container'>
  <div class='col-md-9 pt-3'>
      <div id="search-box">
        <p class='mt-3 text-center text-warning'>アイテムを検索してください</p>
        <%= form_tag(search_user_items_path, method: :get, style: 'display: inline;')  do %>
          <%= text_field_tag :item, "",  id: "item_search", name: "keyword", placeholder: '検索ワードを入力', class: 'form-control', value: @keyword%>
          <%= submit_tag "検索", class: 'btn btn-outline-warning mt-3 mr-3'%>
        <% end %>
        <%= link_to 'マイアイテムへ戻る', user_items_path(current_user), class: 'btn btn-outline-light mt-3' %>
    </div>
  </div>
  <br>
  <% if @items.present? %>
    <div id='item_list'>
      <%= render partial: 'item_list' %>
    </div>
  <% end %>
</div>