<% if @camps.present? %>
<table class="table table-hover">
    <thead>
        <tr>
          <th>Img</th>
          <th>Title</th>
          <th>Area</th>
          <th>Date</th>
          <th>Comment</th>
        </tr>
    </thead>
    <tbody>
      <% @camps.each do |camp| %>
        <tr class="clickable-row", data-link="<%= camp_path(camp) %>">
          <% if camp.images.present? %>
          <td><%= image_tag(camp.images[0].variant(combine_options:{gravity: :center, resize: "100x100^", crop:"100x100+0+0"})) %></td>
          <% else %>
          <td></td>
          <% end %>
          <td><%= camp.title %></td>
          <% if camp.area.present? %>
          <td><%= camp.area.name %></td>
          <% else %>
          <td></td>
          <% end %>
          <td><%= camp.camped_on %></td>
          <td><%= camp.note %></td>
        </tr>
      <% end %>
    </tbody>
</table>
<% end %>
