<% if @items.present? %>
<div class="container container-m">
  <div class="row">
      <% @items.each do |item| %>
        <div class="col-md-4 col-sm-6 card-group">
          <div class="card justify-content-around bg-dark border border-secondary mb-3">
              <%= link_to camp_camp_item_path(camp_id: @camp.id, item_id: item.id), method: :delete, class: 'item_delete_button', style: "display: none;" do %>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="red" class="bi bi-x-square float-right" viewBox="0 0 16 16" >
                <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
              <%end%>
            <% if item.small_image.present? %>
              <%= image_tag(item.small_image, style: "width: 128px;height: 128px;", class: "card-img-top mx-auto d-block") %>
            <% end %>
            <div class="card-body">
              <h5 class="card-title"><%= "#{product_name(item.name)[0..20]}..." %></h5>
              <p class="card-text text-white-50"><%= translate_maker_name(item.maker.name) if item.maker.present? %></p>
              <% if item.product_url.present? %>
                <%= link_to item.product_url, class: 'text-white-50', target: :_blank, rel: "noopener noreferrer" do %>
                  <i class="fas fa-external-link-alt fa-fw text-white-50"></i>商品HPをみる
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
</div>
<% end %>
