<%= form_with model: @camp, local:true do |f| %>
<div class="container">
    <div class='content'>
      <div class="col-md-12 col card-group">
        <div class="card bg-dark border border-secondary">
          <div class="card-header">
            <div class="contain">
              <div class="row">
                <div class="col align-items-center">
                  <%= link_to image_tag(current_user.avatar.variant(combine_options:{gravity: :center, resize: "50x50^", crop:"50x50+0+0"}), class: "rounded-circle"),
                              user_path(current_user), style: "display: inline-block;" %>
                  <%= current_user.name%>
                </div>
              </div>
            </div>
          </div>

          <div class="card-body">
            <div class="form-group col-md-10 offset-md-1 col-lg-8 offset-lg-2">
              <div class="preview-box border rounded col-md-12">
                <%= f.label :image do%>
                  <i class="far fa-images fa-lg" style="display: inline-block;"></i> （5枚まで）
                  <%= f.file_field :images, multiple: true, id: :camp_image, onchange: "loadImage(this);", style: "display: none;" %>
                <% end %>
              <div class="alert alert-warning mt-3" style="display:none;">！画像は合計で5枚以下にしてください！
              </div>
              <div class="contain">
                <p class="btn btn-outline-light" id="preview-delete" style="display: none;">選択をクリア</p>
                <div class="image_box row" id='image-box__container'></div>
              </div>
            </div>
          </div>

            <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">
              <%= render 'shared/error_messages', object: f.object %>
            <div class="form-group">
              <%= f.label 'キャンプのタイトル' %>
              <%= f.text_field :title, class: 'form-control bg-dark' %>
            </div>
            <div class="form-group">
              <%= f.label 'コメント' %>
              <%= f.text_area :note, class: 'form-control bg-dark' %>
            </div>
            <div class="form-group">
              <%= f.label '日付' %>
              <%= f.text_field :camped_on, class: 'form-control bg-dark', id: 'datepicker' %>
            </div>
            <div class="form-group">
              <%= f.label '人数' %>
              <%= f.number_field :number_of_people, min: 1, default: 1, placeholder: 1, class: 'form-control bg-dark' %>
            </div>
            <br>
            <div class='text-center'>
              <%= f.submit (t 'defaults.register'), class: 'btn btn-outline-warning m-5 submit-button' %>
              <% end %>
              <%= link_to 'マイキャンプへ戻る', camps_path, class: 'btn btn-outline-light' %>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>

<script>
$('#datepicker').datepicker({
  dateFormat: 'yy-mm-dd'
});



var image_box = $('#image-box__container');
var number_of_added_images = $('.added-image').length;
var submit_button = $('.submit-button');
var alert_message = $('.alert-warning');


function loadImage(obj){
  $('#preview-delete').show();
  //画像が選択されていれば、プレビューを削除する
  var target_image = $('.each-image-preview');
      target_image.remove();
  var number_of_add_images = 0;

  //選択された画像をプレビューで表示
	for (i = 0; i < obj.files.length; i++) {
		var fileReader = new FileReader();
		fileReader.onload = (function (e) {
      var html = `<div class="col-md-4 each-image-preview">
                    <img src="${e.target.result}" style="max-width:90%; max-height:500px;">
                  </div>`;
      image_box.append(html);
		});
		fileReader.readAsDataURL(obj.files[i]);
    number_of_add_images += 1;
	};

    //画像の合計枚数を確認
    console.log(number_of_add_images);
    if (number_of_add_images > 5) {
      console.log("画像は合計5枚以下としてください");
      alert_message.fadeIn(300);
      submit_button.prop("disabled", true);
    } else {
      submit_button.prop("disabled", false);
    };
};

  //削除ボタンをクリックすると発火するイベント
  $(document).on("click", '#preview-delete', function(){
  var file_field = document.querySelector('input[type=file]');
  //削除を押されたプレビュー要素を取得
  var target_image = $('.each-image-preview');
  //inputタグに入ったファイルを削除
  $('input[type=file]').val('');
  //プレビューを削除
  target_image.remove();
  $('#preview-delete').hide();
  alert_message.fadeOut(300);
  submit_button.prop("disabled", false);
});
</script>