<div class='container'>
  <h1><%=@camp.title%></h1>
  <br>
  <br>

  <div class="col">
    <div class="row">
      <i class="fas fa-camera fa-2x"></i>
      <h2>pictures</h2>
      <div class="ml-auto">
        <i class="fas fa-ellipsis-h fa-2x" id="picture_edit_button"></i>
      </div>
    </div>
    <div class="container container-m">
      <% if @camp.images.present? %>
      <div class="row">
        <% @camp.images.each do |image| %>
          <div class="col-md-3">
            <%= image_tag(image, style: "width: 200px;height: 200px;display: inline-block;", class: "img-thumbnail") %>
            <%= link_to '削除', camp_path(camp_id: @camp.id, image_id: image.id), method: :patch, class: 'btn btn-danger picture_delete_button', style: "display: none;" %>
          </div>
        <% end %>
      </div>
      <% end %>
    </div>
  </div>

  <br>
  <br>
  <div class="col">
    <div class="row">
      <i class="fas fa-campground fa-2x"></i>
      <h2>アイテム</h2>
      <div class="ml-auto">
        <i class="fas fa-ellipsis-h fa-2x" id="item_edit_button"></i>
    </div>
    <% if @items.present? %>
      <%= render partial: 'item_list' %>
    <% else %>
      <h3> アイテムはまだありません</h3>
    <% end %>
  </div>
  <br>
  <div class='row justify-content-center'>
    <a><%= link_to 'アイテム検索から追加', camp_search_items_path(camp_id: @camp.id), class: 'btn btn-success mx-2'%></a>
    <a><%= link_to 'マイアイテムから追加', camp_my_items_path(@camp.id), class: 'btn btn-success mx-2'%></a>
  </div>


  <br>
  <br>
  <div class="row">
    <i class="fas fa-map-signs fa-2x"></i>
    <h2>キャンプ地</h2>
  </div>
  <div class="col">
    <% if @camp.area.present? %>
      <%= @camp.area.name %><br>
      <%= @camp.area.address[13..50] %><br>
    <% else %>
      <h3> キャンプ地はまだありません</h3>
    <% end %>
    <br>
    <div class='row justify-content-center'>
      <a><%= link_to 'キャンプ地を登録', camp_areas_path(camp_id: @camp.id), class: 'btn btn-success mx-2'%></a>
    </div>
  </div>

  <br>
  <br>
  <div class="row">
    <i class="fas fa-comment-dots fa-2x fa-flip-horizontal"></i>
    <h2>Note</h2>
  </div>
  <div class="col">
    <%= @camp.note %>
  </div>


  <br>
  <br>
  <div class='row justify-content-center'>
    <a><%= link_to 'キャンプ一覧', camps_path, class: 'btn btn-success'%></a>
  </div>
</div>

<%= javascript_pack_tag 'camp/button_display' %>