<div class='container'>
  <%= link_to 'javascript:history.back()' do %>
  <i class="fas fa-angle-left fa-2x"></i>
  <%end%>
  <h3><%=@camp.title%></h3>
  <h3><%=@camp.camped_on%></h3>
  <br>
  <br>

  <div class="col">
    <div class="row">
      <i class="fas fa-camera fa-2x"></i>
      <h2>pictures</h2>
      <div class="ml-auto">
          <i class="bi bi-x-square"></i>
        <%= form_with model: @camp, local:true do |f| %>
          <div class="form-group">
            <%= f.label :camp_image do %>
              <% if current_user == @camp.user %>
                <i class="fas fa-plus fa-2x"></i>
              <%end%>
              <%= f.file_field :images, multiple: true, id: :camp_camp_image, style: "display:none;" %>
            <% end %>

            <!-- modal -->
            <div id="modal01" class="c-modal js-modal">
              <div class="c-modal_bg js-modal-close">
              </div>
              <div class="c-modal_content _md">
                <div class="c-modal_content_inner">
                  <div class="row">
                    <div id="modal_image_box">
                    <!--ここにモーダルウィンドウの内容が入ります-->
                    </div>
                  </div>
                  <br>
                  <div class="d-flex justify-content-center">
                    <%= f.submit (t 'defaults.register'), class: 'btn btn-outline-warning mx-2 item-submit-button' %>
                    <a class="js-modal-close c-modal_close btn btn-outline-light mx-2" href=""><span>キャンセル</span></a>
                  </div>
                </div>
              </div>
            </div>
          <!-- ./modal -->
          </div>
        <% end %>
        <% if current_user == @camp.user %>
          <i class="fas fa-ellipsis-h fa-2x" id="picture_edit_button"></i>
        <% end %>
      </div>
    </div>
    <div class="container container-m">
      <%= render partial: 'camp_image_list' %>
    </div>
  </div>

  <br>
  <br>
  <div class="col">
    <div class="row">
      <i class="fas fa-campground fa-2x"></i>
      <h2>アイテム</h2>
      <% if current_user == @camp.user %>
        <div class="ml-auto">
          <i class="fas fa-ellipsis-h fa-2x" id="item_edit_button"></i>
        </div>
      <%end%>
    </div><br>
    <% if @items.present? %>
      <%= render partial: 'item_list' %>
    <% else %>
      <h3> アイテムはまだありません</h3>
    <% end %>
  <br>
  <% if current_user == @camp.user %>
    <div class='row justify-content-center'>
      <a><%= link_to 'マイアイテムから追加', camp_my_items_path(@camp.id), class: 'btn btn-success mx-2'%></a>
    </div>
  <%end%>

  <br>
  <br>
  <div class="row">
    <i class="fas fa-map-signs fa-2x"></i>
    <h2>キャンプ地</h2>
  </div>
  <div class="col">
    <% if @camp.area.present? %>
      <div id="map" style="height: 300px; width: 500px;"></div>
      <%= @camp.area.name %><br>
      <%= @camp.area.address[13..50] %>
          <% if @camp.area.latlng.present? %>
          <input type="text" id="lat" value="<%= split_lat(@camp.area.latlng)%>" style="display: none;">
          <input type="text" id="lng" value="<%= split_lng(@camp.area.latlng)%>" style="display: none;">
          <% end %>
    <% else %>
      <h3> キャンプ地はまだありません</h3>
    <% end %>
    <br>
    <% if current_user == @camp.user %>
      <div class='row justify-content-center'>
        <a><%= link_to 'キャンプ地を登録', camp_areas_path(camp_id: @camp.id), class: 'btn btn-success mx-2', data: {turbolinks: false} %></a>
      </div>
    <% end %>
  </div>

  <br>
  <br>
  <div class="row">
    <i class="fas fa-comment-dots fa-2x fa-flip-horizontal"></i>
    <h2>Note</h2>
  </div>
  <div class="col">
    <%= @camp.note %>
  </div>


  <br>
  <br>
  <% if current_user == @camp.user %>
    <div class='row justify-content-center'>
      <a><%= link_to 'キャンプ一覧', camps_path, class: 'btn btn-success'%></a>
    </div>
  <% end %>
</div>

<%= javascript_pack_tag 'camp/button_display' %>
<script>
    var map;
    function initMap() {
        var lat_value = document.getElementById('lat').value;
        var lng_value = document.getElementById('lng').value;
        var latlng = new google.maps.LatLng(lat_value, lng_value);
        map = new google.maps.Map(document.getElementById('map'), {
            center: latlng,
            zoom: 15
        });
        console.log("map");

        var marker = new google.maps.Marker({
        position: latlng,
        map: map
        });
    }
    initMap();
</script>
