<div class='container'>
  <%= link_to 'javascript:history.back()' do %>
  <i class="fas fa-angle-left fa-2x"></i>
  <%end%>

      <!--ドロップダウンリスト開始-->
  <% if current_user == @camp.user %>
    <div class="float-right mx-auto">
      <div class="dropleft">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="far fa-trash-alt fa-lg text-right"></i>
        </button>
      <div class="dropdown-menu bg-dark" aria-labelledby="dropdownMenuButton">
        <%= link_to camp_path, method: :delete, data: { confirm: 'このキャンプを削除しますか？' }, class: 'dropdown-item text-danger doropdown-list-delete' do %>
          <span><i class="far fa-trash-alt"></i></span>  キャンプを削除
        <% end %>
          <a class='dropdown-item text-danger doropdown-list-delete' id="item_edit_button">
            <i class="far fa-trash-alt"></i>  アイテムを削除
          </a>
          <% if @camp.area.present? %>
            <%= link_to camp_area_path(@camp), method: :delete, data: { confirm: 'キャンプ地を削除しますか？' }, class: 'dropdown-item text-danger doropdown-list-delete' do %>
              <span><i class="fas fa-trash-alt"></i></span>  キャンプ地を削除
            <% end %>
          <% end %>
      </div>
    </div>
  </div>
  <!--ドロップダウンリスト終わり-->
  <!--ドロップダウンリスト開始-->
  <div class="float-right mx-auto">
    <div class="dropleft">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="far fa-plus-square fa-lg text-light"></i>
              </button>
              <div class="dropdown-menu bg-dark" aria-labelledby="dropdownMenuButton">
                <%= link_to camp_my_items_path(@camp.id), class: 'dropdown-item text-success doropdown-list-delete' do%>
                  <i class="fas fa-plus"></i>  アイテムを追加
                <% end %>
                <% if @camp.area.blank? %>
                  <%= link_to camp_areas_path(@camp), class: 'dropdown-item text-success doropdown-list-delete' do%>
                    <i class="fas fa-plus"></i>  キャンプ地を登録
                  <% end %>
                <% end%>
              </div>
            </div>
          </div>
        <!--ドロップダウンリスト終わり-->
      <%end%>

      <!--card形式へ変更-->
      <div class="col col card-group">
        <div class="card bg-dark border border-secondary">
          <div class="card-header">
            <div class="contain">
              <div class="row">
                <div class="col align-items-center">
                  <%= link_to image_tag(@camp.user.avatar.variant(combine_options:{gravity: :center, resize: "50x50^", crop:"50x50+0+0"}), class: "rounded-circle"),
                              user_path(@camp.user), style: "display: inline-block;" %>
                  <%= @camp.user.name%><span class="text-white-50"><%= "・#{@camp.camped_on}"%></span>
                  <% if current_user.already_liked?(@camp) %>
                    <%= render partial: 'every_camp/unlike', locals: {camp: @camp} %>
                  <% else %>
                    <%= render partial: 'every_camp/like', locals: {camp: @camp} %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
          <% if @camp.images.present? %>
            <div class="align-items-center js-modal-img">
              <%= image_tag(@camp.images[0].variant(combine_options:{gravity: :center, resize: "300x300^", crop:"400x280+0+0"}),class: "d-block mx-auto rounded img-fluid")%>
              <div class="none" style="display: none;">
              <%= image_tag(@camp.images[0], class: "d-block mx-auto rounded")%>
              </div>
            </div>
          <% end %>
          <div class="card-body">

            <% if @camp.area.present? %>
              <p class="text-white-50">
                <%= link_to "https://www.google.com/maps/search/?api=1&query=#{@camp.area.name}", data: { confirm: 'Google Mapで確認しますか？' }, target: :_blank, rel: "noopener noreferrer", class: "text-white-50" do %>
                  <i class="fas fa-map-marker-alt"></i>
                  <%= @camp.area.name %>
                <% end %>
              </p>
            <% else%>
              <p class="text-white-50"><i class="fas fa-map-marker-alt"></i> 未登録です</p>
            <% end%>
            <h2 class="card-title text-bold"><%= @camp.title %></h2><br>
            <p class="card-text"><%= @camp.note %></p>
            <div class="row">
              <%= render partial: 'item_list', locals: {camp: @camp} %>
            </div>
          </div>
        </div>
      </div>


<%= javascript_pack_tag 'camp/button_display' %>
<script>
  /*
    var map;
    function initMap() {
        var lat_value = document.getElementById('lat').value;
        var lng_value = document.getElementById('lng').value;
        var latlng = new google.maps.LatLng(lat_value, lng_value);
        map = new google.maps.Map(document.getElementById('map'), {
            center: latlng,
            zoom: 15
        });
        console.log("map");

        var marker = new google.maps.Marker({
        position: latlng,
        map: map
        });
    }
    initMap();
  */


  function loadImage(obj){
      //モーダルに画像を追加する
      var image_box = $('#modal_image_box');
    console.log('画像追加');
    console.log(image_box);
      for (i = 0; i < obj.files.length; i++) {
          var fileReader = new FileReader();
          fileReader.onload = (function (e) {
          var html = `<div class="col-md-4 each-image-preview">
                      <img src="${e.target.result}" style="max-width:90%; max-height:500px;">
                      </div>`;
          image_box.append(html);
		});
		fileReader.readAsDataURL(obj.files[i]);
	};
    //モーダル使えないかなあ
    var modal = document.getElementById( 'modal01' );
    $( modal ).fadeIn( 300 );
    return false;
};


  // モーダルウィンドウを閉じる
  $( '.js-modal-close' ).on( 'click', function() {
    $( '.js-modal' ).fadeOut( 300 );
    $('input[type=file]').val(null)
    dataBox.clearData();
    var target_image = $('.each-image-preview');
    target_image.remove();
    return false;
  });

  //削除ボタンをクリックすると発火するイベント
  $(document).on("click", '#preview-delete', function(){
      var file_field = document.querySelector('input[type=file]');
      //削除を押されたプレビュー要素を取得
      var target_image = $('.each-image-preview');
      //inputタグに入ったファイルを削除
      $('input[type=file]').val('');
      //プレビューを削除
      target_image.remove();
      $('#preview-delete').toggle();
});
</script>
