<div class='container'>
  <h1><%=@camp.title%></h1>
  <br>
  <br>

  <h2>pictures</h2>
  <div class='row'>
    <% if @camp.images.present? %>
      <% @camp.images.each do |image| %>
      <div class="col">
        <%= image_tag(image, style: "width: 100px;height: 100px;display: inline-block;") %>
      </div>
      <% end %>
    <% end %>
  </div>

  <br>
  <br>
  <h2>アイテム</h2>
  <div class="col">
    <% if @items.present? %>
      <%= render partial: 'item_list' %>
    <% else %>
      <h3> アイテムはまだありません</h3>
    <% end %>
  </div>
  <div class='row justify-content-center'>
    <a><%= link_to 'アイテム検索から追加', camp_search_items_path(camp_id: @camp.id), class: 'btn btn-success mx-2'%></a>
    <a><%= link_to 'マイアイテムから追加', camp_my_items_path(@camp.id), class: 'btn btn-success mx-2'%></a>
  </div>


  <br>
  <br>
  <h2>キャンプ地</h2>
  <div class="col">
    <%= 'キャンプ地' %>
  </div>

  <br>
  <br>
  <h2>Note</h2>
  <div class="col">
    <%= @camp.note %>
  </div>


  <br>
  <br>
  <div class='row justify-content-center'>
    <a><%= link_to 'キャンプ一覧', camps_path, class: 'btn btn-success'%></a>
  </div>
</div>
