<% set_meta_tags title: @camp.title %>
<div class='container'>
  <%= link_to 'javascript:history.back()' do %>
  <i class="fas fa-angle-left fa-2x"></i>
  <%end%>

      <!--ドロップダウンリスト開始-->
  <% if current_user == @camp.user %>
    <div class="float-right mx-auto">
      <div class="dropleft">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="far fa-trash-alt fa-lg text-right"></i>
        </button>
      <div class="dropdown-menu bg-dark" aria-labelledby="dropdownMenuButton">
        <%= link_to camp_path, method: :delete, data: { confirm: 'このキャンプを削除しますか？' }, class: 'dropdown-item text-danger doropdown-list-delete' do %>
          <span><i class="far fa-trash-alt"></i></span>  キャンプを削除
        <% end %>
          <a class='dropdown-item text-danger doropdown-list-delete' id="item_edit_button">
            <i class="far fa-trash-alt"></i>  アイテムを削除
          </a>
          <% if @camp.area.present? %>
            <%= link_to camp_area_path(@camp), method: :delete, data: { confirm: 'キャンプ地を削除しますか？' }, class: 'dropdown-item text-danger doropdown-list-delete' do %>
              <span><i class="fas fa-trash-alt"></i></span>  キャンプ地を削除
            <% end %>
          <% end %>
      </div>
    </div>
  </div>
  <!--ドロップダウンリスト終わり-->
  <!--ドロップダウンリスト開始-->
  <div class="float-right mx-auto">
    <div class="dropleft">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="far fa-plus-square fa-lg text-light"></i>
              </button>
              <div class="dropdown-menu bg-dark" aria-labelledby="dropdownMenuButton">
                <%= link_to edit_camp_path(@camp), class: 'dropdown-item text-success doropdown-list-delete' do%>
                    <i class="fas fa-plus"></i>  写真を追加・編集
                <% end %>
                <%= link_to camp_my_items_path(@camp), class: 'dropdown-item text-success doropdown-list-delete' do%>
                  <i class="fas fa-plus"></i>  アイテムを追加
                <% end %>
                <% if @camp.area.blank? %>
                  <%= link_to camp_areas_path(@camp), class: 'dropdown-item text-success doropdown-list-delete' do%>
                    <i class="fas fa-plus"></i>  キャンプ地を登録
                  <% end %>
                <% end%>
              </div>
            </div>
          </div>
        <!--ドロップダウンリスト終わり-->
      <%end%>


      <!--card形式へ変更-->
      <div class="col col card-group">
        <div class="card bg-dark border border-secondary">
          <div class="card-header">
            <div class="contain">
              <div class="row">
                <div class="col align-items-center">
                  <%= link_to image_tag(@camp.user.avatar.variant(gravity: :center, resize: "50x50^", crop:"50x50+0+0"), class: "rounded-circle"),
                              user_path(@camp.user), style: "display: inline-block;" %>
                  <%= @camp.user.name%><span class="text-white-50"><%= "・#{@camp.camped_on}"%></span>
                  <% if current_user.already_liked?(@camp) %>
                    <%= render partial: 'every_camp/unlike', locals: {camp: @camp} %>
                  <% else %>
                    <%= render partial: 'every_camp/like', locals: {camp: @camp} %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
                <!-- Slider main container -->
                  <div class="swiper-container">
                    <!-- Additional required wrapper -->
                    <div class="swiper-wrapper">
                      <!-- Slides -->
                      <% if @camp.images.present? %>
                        <% @camp.images.each do |image| %>
                          <div class="align-items-center js-modal-img swiper-slide">
                            <%= image_tag(image.variant(gravity: :center, resize: "300x300^", crop:"400x280+0+0"),class: "d-block mx-auto rounded img-fluid")%>
                          </div>
                        <% end %>
                      <% end %>
                    </div>
                    <!-- If we need pagination -->
                    <div class="swiper-pagination swiper-pagination-white"></div>

                    <!-- If we need navigation buttons -->
                    <div class="swiper-button-prev swiper-button-white"></div>
                    <div class="swiper-button-next swiper-button-white"></div>
                  </div>

          <div class="card-body">
            <% if @camp.area.present? %>
                <%= link_to "https://www.google.com/maps/search/?api=1&query=#{@camp.area.name}", data: { confirm: 'Google Mapで確認しますか？' }, target: :_blank, rel: "noopener noreferrer", class: "text-white-50" do %>
                <p class="text-white-50">
                  <i class="fas fa-map-marker-alt"></i>
                  <%= @camp.area.name %>
                <% end %>
              </p>
            <% else %>
              <% if @camp.user == current_user %>
                <%= link_to camp_areas_path(@camp), data: { confirm: 'キャンプ地を登録しますか？' } do%>
                  <p class="text-white-50"><i class="fas fa-map-marker-alt"></i> 未登録です</p>
                <% end %>
              <% else %>
                <p class="text-white-50"><i class="fas fa-map-marker-alt"></i> 未登録です</p>
              <% end %>
            <% end%>
            <h2 class="card-title text-bold"><%= @camp.title %></h2><br>
            <p class="card-text"><%= @camp.note %></p>
            <div class="row">
              <%= render partial: 'item_list', locals: {camp: @camp} %>
            </div>
          </div>
        </div>
      </div>


<%= javascript_pack_tag 'camp/button_display' %>

<script>
    let mySwiper = new Swiper ('.swiper-container', {
  // 以下にオプションを設定
  loop: false, //最後に達したら先頭に戻る

  //ページネーション表示の設定
  pagination: {
    el: '.swiper-pagination', //ページネーションの要素
    type: 'bullets', //ページネーションの種類
    clickable: true, //クリックに反応させる
  },

  //ナビゲーションボタン（矢印）表示の設定
  navigation: {
    nextEl: '.swiper-button-next', //「次へボタン」要素の指定
    prevEl: '.swiper-button-prev', //「前へボタン」要素の指定
  },

  //スクロールバー表示の設定
  scrollbar: {
    el: '.swiper-scrollbar', //要素の指定
  },
})
</script>
