<div class='container'>
  <%= link_to 'javascript:history.back()' do %>
  <i class="fas fa-angle-left fa-2x"></i>
  <%end%>
      <!--ドロップダウンリスト開始-->
    <div class="float-right mx-auto">
      <div class="dropleft">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-ellipsis-h fa-lg text-right"></i>
        </button>
      <div class="dropdown-menu bg-dark" aria-labelledby="dropdownMenuButton">
        <%= link_to camp_path, method: :delete, data: { confirm: 'このキャンプを削除しますか？' }, class: 'dropdown-item text-danger doropdown-list-delete' do %>
          <span><i class="fas fa-trash-alt"></i></span>  キャンプを削除
        <% end %>
      </div>
    </div>
  </div>
  <!--ドロップダウンリスト終わり-->

  <h3><%=@camp.title%></h3>
  <h3><%=@camp.camped_on%></h3>
  <br>
  <br>

  <div class="col">
    <div class="row">
      <i class="fas fa-camera fa-2x fa-fw"></i>
      <h2>Pictures</h2>
      <div class="ml-auto">
          <i class="bi bi-x-square"></i>
        <% if current_user == @camp.user %>
          <%= form_with model: @camp, local:true do |f| %>
          <!--ドロップダウンリスト開始-->
          <div class="float-right mx-auto">
            <div class="dropleft">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-ellipsis-h fa-lg text-right"></i>
              </button>
              <div class="dropdown-menu bg-dark" aria-labelledby="dropdownMenuButton">
                <div class="form-group">
                  <%= f.label :camp_image do %>
                    <a class='dropdown-item text-success doropdown-list-delete'>
                      <i class="fas fa-plus"></i>  写真を追加
                    </a>
                  <% end %>
                  <%= f.file_field :images, multiple: true, id: :camp_camp_image, style: "display:none;" %>
                  <p class='dropdown-item text-danger doropdown-list-delete' id="picture_edit_button">
                    <span><i class="fas fa-trash-alt"></i></span>  写真を削除
                  </p>
                </div>
              </div>
            </div>
            <!--ドロップダウンリスト終わり-->

            <!-- modal -->
            <div id="modal01" class="c-modal js-modal">
              <div class="c-modal_bg js-modal-close">
              </div>
              <div class="c-modal_content _md">
                <div class="c-modal_content_inner">
                  <div class="row">
                    <div id="modal_image_box">
                    <!--ここにモーダルウィンドウの内容が入ります-->
                    </div>
                  </div>
                  <br>
                  <div class="d-flex justify-content-center">
                    <%= f.submit (t 'defaults.register'), class: 'btn btn-outline-warning mx-2 item-submit-button' %>
                    <a class="js-modal-close c-modal_close btn btn-outline-light mx-2" href=""><span>キャンセル</span></a>
                  </div>
                </div>
              </div>
            </div>
          <!-- ./modal -->
          </div>
        <% end %>
        <%end%>
        <% if current_user == @camp.user %>
        <% end %>
      </div>
    </div>
    <div class="container container-m">
      <%= render partial: 'camp_image_list' %>
    </div>
  </div>

  <br>
  <br>
  <div class="col">
    <div class="row">
      <i class="fas fa-campground fa-2x fa-fw"></i>
      <h2>アイテム</h2>
      <% if current_user == @camp.user %>
        <div class="ml-auto">
          <!--ドロップダウンリスト開始-->
          <div class="float-right mx-auto">
            <div class="dropleft">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-ellipsis-h fa-lg text-right"></i>
              </button>
              <div class="dropdown-menu bg-dark" aria-labelledby="dropdownMenuButton">
                <%= link_to camp_my_items_path(@camp.id), class: 'dropdown-item text-success doropdown-list-delete' do%>
                  <i class="fas fa-plus"></i>  アイテムを追加
                <% end %>
                <a class='dropdown-item text-danger doropdown-list-delete' id="item_edit_button">
                  <i class="fas fa-trash-alt"></i>  アイテムを削除
                </a>
              </div>
            </div>
          </div>
        </div>
        <!--ドロップダウンリスト終わり-->
      <%end%>
    </div><br>
    <% if @items.present? %>
      <%= render partial: 'item_list' %>
    <% else %>
      <h3> アイテムはまだありません</h3>
    <% end %>
  <br>
  <br>
  <br>


  <div class="row">
    <i class="fas fa-map-signs fa-2x fa-fw"></i>
    <h2>キャンプ地</h2>

    <% if current_user == @camp.user %>
          <!--ドロップダウンリスト開始-->
    <div class="ml-auto">
      <div class="float-right mx-auto">
        <div class="dropleft">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-ellipsis-h fa-lg text-right"></i>
          </button>
        <div class="dropdown-menu bg-dark" aria-labelledby="dropdownMenuButton">
          <% if @camp.area.present?%>
            <%= link_to camp_area_path(@camp), method: :delete, data: { confirm: 'キャンプ地を削除しますか？' }, class: 'dropdown-item text-danger doropdown-list-delete' do %>
              <span><i class="fas fa-trash-alt"></i></span>  キャンプ地を削除
            <% end %>
            <% else %>
              <%= link_to camp_areas_path(@camp), class: 'dropdown-item text-success doropdown-list-delete' do%>
                <i class="fas fa-plus"></i>  キャンプ地を登録
              <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <!--ドロップダウンリスト終わり-->
  <% end %>


  </div>
  <div class="col">
    <% if @camp.area.present? %>
      <div id="map" style="height: 300px; width: 500px;"></div>
      <br>
      <i class="fas fa-map-marker-alt"></i><%= @camp.area.name %><br>
      &nbsp;&nbsp;&nbsp;<%= "#{@camp.area.address[13..50]}" %>
        <% if @camp.area.latlng.present? %>
          <input type="text" id="lat" value="<%= split_lat(@camp.area.latlng)%>" style="display: none;">
          <input type="text" id="lng" value="<%= split_lng(@camp.area.latlng)%>" style="display: none;">
        <% end %>
    <% else %>
      <h3> キャンプ地はまだありません</h3>
    <% end %>
    <br>
  </div>

  <br>
  <br>
  <div class="row">
    <i class="fas fa-comment-dots fa-2x fa-flip-horizontal fa-fw"></i>
    <h2>Note</h2>
  </div>
  <div class="col">
    <%= @camp.note %>
  </div>


  <br>
  <br>
  <% if current_user == @camp.user %>
    <div class='row justify-content-center'>
      <a><%= link_to 'マイキャンプへ戻る', camps_path, class: 'btn btn-outline-light'%></a>
    </div>
  <% end %>
</div>

<%= javascript_pack_tag 'camp/button_display' %>
<script>
    var map;
    function initMap() {
        var lat_value = document.getElementById('lat').value;
        var lng_value = document.getElementById('lng').value;
        var latlng = new google.maps.LatLng(lat_value, lng_value);
        map = new google.maps.Map(document.getElementById('map'), {
            center: latlng,
            zoom: 15
        });
        console.log("map");

        var marker = new google.maps.Marker({
        position: latlng,
        map: map
        });
    }
    initMap();
</script>
