<div class="container">
  <div class="text-right">
    <%= link_to "退会する", user_path(current_user), method: :delete, data: { confirm: '退会するとデータは全て削除されます。本当に退会しますか？' },class: 'btn btn-outline-danger mt-3 mx-auto' %>
  </div>
  <%= form_with model: @user, local:true do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="form-group justify-content-around">
    <div class="avatar-image-box">
      <%= f.label :avatar do %>
        <i class="fas fa-camera avatar-edit rounded-circle fa-border text-dark"></i>
        <%= f.file_field :avatar, id: :user_avatar, accept: '.jpeg, .jpg, .png', onChange:"imgPreView(event)", style: "display: none;" %>
      <% end %>
      <%if @user.avatar.present?%>
        <%= image_tag @user.avatar.variant(gravity: :center, resize: "200x200^", crop:"200x200+0+0"), class: "rounded-circle", id: :preview_avatar, style:"height: 200px; width: 200px;" %>
      <% end %>
    </div>
    <p class='text-warning mt-3'>画像サイズは5MB以下にしてください</p>
  </div>
  <div class="form-group">
    <%= f.label :name %>
    <input class="form-control bg-dark" type="text" name="user[name]" id="user_name" value="<%=@user.name%>" />
  </div>
  <div class="form-group">
    <%= f.label :email %>
    <input class="form-control bg-dark" type="email" name="user[email]" id="user_email" value="<%=@user.email%>" />
  </div>
  <%= f.submit "更新", class: 'btn btn-outline-warning' %>
  <%= link_to 'キャンセル', user_path(current_user), class: 'btn btn-outline-light ml-3' %>
  <% end %>
</div>

<script>
  function imgPreView(event){
    var fileReader = new FileReader();
    fileReader.onload = (function() {
      document.getElementById('preview_avatar').src = fileReader.result;
    });
    fileReader.readAsDataURL(event.target.files[0]);
    console.log("avatar")
  };
</script>