<% content_for :title do%>
<%= @user.name %>
<% end %>
<div class="container">
  <% if current_user == @user %>
    <div class='col-md-9'>
      <%= link_to "edit profile", edit_user_path(current_user), class: "btn btn-outline-warning"%>
    </div>
  <%end%>
  <div class="row">
    <div class="col-md-4">
      <br>
      <%= image_tag @user.avatar.variant(combine_options:{gravity: :center, resize: "200x200^", crop:"200x200+0+0"}), class: "rounded-circle mx-auto d-block" %>
      <h3 class="text-center"><%= @user.name %></h3>
    </div>
    <div class="col-md-8">
    <br>
      <canvas id="myRaderChart" style="max-width:500px;"></canvas>
    </div>
  </div>


<ul class="nav nav-pills nav-justified mb-3 col-md-9" id="pills-tab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active text-white" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Camps</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-white" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Items</a>
  </li>
</ul>
<div class="tab-content" id="pills-tabContent">
  <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
    <%if @user == current_user %>
      <div class='col-md-9'>
        <a><%= link_to '＋キャンプを記録', new_camp_path, class: 'btn btn-outline-warning btn-block'%></a>
      </div>
    <% end %>
    <%= render partial: 'every_camp/camp_list', locals: {camps: @camps}%>
    <%= render partial: 'every_camp/modal' %>
  </div>
  <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
    <%if @user == current_user %>
      <div class='col-md-9'>
        <a><%= link_to '＋アイテムを追加', search_user_items_path, class: 'btn btn-outline-warning btn-block'%></a>
      </div>
    <% end %>
    <%= render partial: 'user_items/item_list', locals: {items: @items}%>
  </div>
</div>


</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>

<script>
  Chart.defaults.global.defaultFontColor = 'RGBA(255,255,255, 0.7)';
  var ctx = document.getElementById("myRaderChart");
    var myRadarChart = new Chart(ctx, {
        type: 'radar',
        data: {
            labels: ["キャンプ", "アイテム", "焚き火", "おしゃれ", "ボランティア"],
            datasets: [{
                label: '',
                data: [<%= @radar_camp *10 %>, <%= @radar_item %>, <%= @radar_favolite_camp*10 %>, 50, 86],
                backgroundColor: 'RGBA(255,240,35, 0.6)',
                borderColor: 'RGBA(255,240,35, 1)',
                borderWidth: 1,
                pointBorderColor: 'RGBA(255,240,35, 0.0)',
                scaleLineColor: 'RGBA(255,255,255, 0.7)'
            }]
        },
        options: {
            scale:{
                ticks:{
                    display: false,
                    fontColor: 'RGBA(255,255,255, 0.7)',
                    suggestedMin: 0,
                    suggestedMax: 100,
                    stepSize: 20,
                    callback: function(value, index, values){
                        return  value
                    }
                },
                gridLines: {         // 補助線（目盛の線）
                    display: true,
                    color: 'RGBA(255,255,255, 0.3)'
                },
                angleLines: {        // 軸（放射軸）
                    display: true,
                    color: 'RGBA(255,255,255, 0.3)'
                },
            },
            legend: {
                display: false
            }
        }
    });
  </script>