<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a href="/" class="brand-link">
    <%= image_tag 'takibee_icon', class: 'brand-image img-circle elevation-3' %>
    <span class="brand-text font-weight-light">TAKiBee.</span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user panel (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
          <%= image_tag 'sample', class: 'img-circle elevation-2' %>
      </div>
      <div class="info">
        <a class="d-block">ログアウト中</a>
      </div>
    </div>

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <li class="nav-item">
          <%= link_to '/', class: "nav-link" do %>
            <i class="nav-icon fas fa-fire"></i>
            <p>
              トップ
            </p>
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to new_user_path, class: "nav-link" do %>
            <i class="nav-icon fas fa-user-plus"></i>
            <p>
              新規登録
            </p>
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to login_path, class: "nav-link" do %>
            <i class="nav-icon fas fa-sign-in-alt"></i>
            <p>
              ログイン
            </p>
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to 'terms', class: "nav-link" do %>
            <i class="nav-icon fas fa-book"></i>
            <p>
              利用規約
            </p>
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to 'privacy_policy', class: "nav-link" do %>
            <i class="nav-icon fas fa-key"></i>
            <p>
              プライバシーポリシー
            </p>
          <% end %>
        </li>
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>