<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a href="/" class="brand-link">
    <%= image_tag 'takibee_icon', class: 'brand-image img-circle elevation-3' %>
    <span class="brand-text font-weight-light">TAKiBee.</span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user panel (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
      <% if current_user.avatar.present? %>
        <%= link_to user_path(current_user) do %>
          <%= image_tag current_user.avatar.variant(gravity: :center, resize: "200x200^", crop:"200x200+0+0"), class: "rounded-circle mx-auto d-block elevation-2" %>
        <% end %>
      <% end %>
      </div>
      <div class="info">
        <a class="d-block"><%= link_to current_user.name , user_path(current_user) %></a>
      </div>
    </div>

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <li class="nav-item">
          <%= link_to user_every_camp_index_path(current_user), class: "nav-link #{active_if("every_camp")}" do %>
            <i class="nav-icon fas fa-hiking"></i>
            <p>
              みんなのキャンプ
            </p>
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to camps_path, class: "nav-link #{active_if('camps')}" do %>
            <i class="nav-icon fas fa-map-signs"></i>
            <p>
              マイキャンプ
            </p>
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to user_items_path, class: "nav-link #{active_if('user_items', 'search_user_items')}" do %>
            <i class="nav-icon fas fa-campground"></i>
            <p>
              マイアイテム
            </p>
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to user_path(current_user), class: "nav-link #{active_if('users')}" do %>
            <i class="nav-icon far fa-user"></i>
            <p>
              プロフィール
            </p>
          <% end %>
        </li>
        <% if current_user.is_guest_user? %>
          <li class="nav-item">
            <%= link_to new_user_path, class: "nav-link" do %>
              <i class="nav-icon fas fa-user-plus"></i>
              <p>
                新規登録
              </p>
            <% end %>
          </li>
        <% end %>

        <li class="nav-item">
          <%= link_to logout_path, method: :delete, class: "nav-link", data: { confirm: 'ログアウトしますか？' } do %>
            <i class="nav-icon fas fa-home"></i>
            <p>
              ログアウト
            </p>
          <% end %>
        </li>

        <% if current_user.is_admin_user? %>
          <li class="nav-item">
            <%= link_to users_path, class: "nav-link" do %>
              <i class="nav-icon fas fa-user-cog"></i>
              <p>
                ユーザー一覧
              </p>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to admin_camps_path, class: "nav-link" do %>
              <i class="nav-icon fas fa-user-cog"></i>
              <p>
                キャンプ一覧
              </p>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to items_path, class: "nav-link" do %>
              <i class="nav-icon fas fa-user-cog"></i>
              <p>
                アイテム一覧
              </p>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to makers_path, class: "nav-link" do %>
              <i class="nav-icon fas fa-user-cog"></i>
              <p>
                メーカー一覧
              </p>
            <% end %>
          </li>
        <% end %>

      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>