    <% @camps.each do |camp| %>
      <div class="col-12 col card-group">
        <div class="card bg-dark border border-secondary">
          <div class="card-header">
            <div class="contain">
              <div class="row">
                <div class="col align-items-center">
                  <%= link_to image_tag(camp.user.avatar.variant(combine_options:{gravity: :center, resize: "50x50^", crop:"50x50+0+0"}), class: "rounded-circle"),
                              user_path(camp.user), style: "display: inline-block;" %>
                  <%= camp.user.name%><span class="text-white-50"><%= "・#{camp.camped_on}"%></span>
                  <% if current_user.already_liked?(camp) %>
                    <%= render partial: 'every_camp/unlike', locals: {camp: camp} %>
                  <% else %>
                    <%= render partial: 'every_camp/like', locals: {camp: camp} %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
          <%= link_to camp_path(camp.id), style:"text-decoration:none; color:black;" do %>
          <% if camp.images.present? %>
          <div class="container">
          <div class="row">
            <div class="align-items-center js-modal-img col-md-6">
              <%= image_tag(camp.images[0].variant(combine_options:{gravity: :center, resize: "300x300^", crop:"400x280+0+0"}),class: "d-block mx-auto rounded img-fluid")%>
              <div class="none" style="display: none;">
              <%= image_tag(camp.images[0], class: "d-block mx-auto rounded")%>
              </div>
            </div>
            <div class="col-md-6">
              <%= render partial: 'every_camp/camp_item_list', locals: {camp: camp} %>
            </div>
          </div>
          </div>
          <% end %>
          <div class="card-body">
            <% if camp.area.present? %>
              <p class="text-white-50">
                <i class="fas fa-map-marker-alt"></i>
                <%= camp.area.name %>
              </p>
            <% end%>
            <h2 class="card-title text-bold"><%= camp.title %></h2>
            <p class="card-text"><%= camp.note %></p>
          </div>
          <%end%>
        </div>
      </div>
    <% end %>
