<% if @camps.present? %>
    <% @camps.each do |camp| %>
      <div class="col-md-9 card-group">
        <div class="card bg-dark border border-light">
          <div class="card-header">
            <%= link_to image_tag(camp.user.avatar.variant(combine_options:{gravity: :center, resize: "50x50^", crop:"50x50+0+0"}), class: "rounded-circle"),
                        user_path(camp.user), style: "display: inline-block;" %>
            <%= camp.user.name%>
          </div>
          <%= link_to camp_path(camp.id), style:"text-decoration:none; color:black;" do %>
          <% if camp.images.present? %>
            <div class="align-items-center">
              <%= image_tag(camp.images[0].variant(combine_options:{gravity: :center, resize: "300x300^", crop:"400x280+0+0"}),class: "d-block mx-auto rounded img-fluid")%>
            </div>
          <% end %>
          <div class="card-body">
              <h5 class="card-title"><%= camp.title %></h5>
              <p class="card-text"><%= camp.note %></p>
            <div class="row">
              <%= render partial: 'camp_item_list', locals: {camp: camp} %>
            </div>
          </div>
          <%end%>
        </div>
      </div>
    <% end %>
<% end %>