<% content_for :title do%>
<%= t '.title' %>
<% end %>
<div class='container'>
  <%= form_with model: @search_user_item_form, url: user_items_path, method: :get, html: { class: 'form-inline' } do |f|%>
    <%= f.select :maker_id, Maker.pluck(:name, :id) , { include_blank: true }, class: 'form-control' %>
      <span class="input-group-btn">
        <%= f.submit '検索', class: %w[btn btn-default btn-flat] %>
      </span>
  <%end%>

  <!--ドロップダウンリスト-->
  <div class="float-right mx-auto">
    <div class="dropleft">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-ellipsis-h fa-lg text-right" id="item_edit_button"></i>
      </button>
      <div class="dropdown-menu bg-dark" aria-labelledby="dropdownMenuButton">
        <%= link_to search_user_items_path, class: 'dropdown-item text-success' do %>
          <i class="fas fa-plus"></i> アイテムを追加
        <% end %>
        <%= link_to '#', class: 'dropdown-item text-danger doropdown-list-delete' do %>
          <i class="fas fa-trash-alt"></i> アイテムを削除
        <% end %>
      </div>
    </div>
  </div>

  <div class='row justify-content-center'>
    <div class='col-md-12 ' id='item_list'>
    <br>
      <div class='btn btn-outline-danger item-delete-button' style="display:none;">選択したアイテムを削除</div>
      <div class='btn btn-outline-light item-cancel-button' style="display:none;">キャンセル</div>
    </div>
  </div>
  <br>
    <a><%= link_to '＋アイテムを追加', search_user_items_path, class: 'btn btn-outline-warning btn-block col-md-12'%></a>
    <% if @items.present? %>
      <%= render partial: 'item_list', locals: {items: @items} %>
    <% else %>
      <h2> Myアイテムはまだありません</h2>
    <% end %>

<%= javascript_pack_tag 'table_checkbox' %>
