<% if @items.present? %>
<p class='pt-3 text-warning'><%= "アイテム数：#{@items.count}" %></p>
<table class="table table-hover">
    <thead>
        <tr>
          <th>Img</th>
          <th>Name</th>
          <th>Maker</th>
          <th>URL</th>
          <th>btn</th>
        </tr>
    </thead>
    <tbody>
      <% @items.each do |item| %>
        <tr>
          <% if item.small_image.present? %>
          <td><%= image_tag(item.small_image, style: "width: 100px;height: 100px;display: inline-block;") %></td>
          <% else %>
          <td></td>
          <% end %>
          <td><%= "#{item.name[0..20] ...}" %></td>
          <td><%= item.maker.name if item.maker.present? %></td>
          <td><%= link_to '商品HP', item.product_url, class: 'btn btn-outline-light', target: :_blank, rel: "noopener noreferrer" if item.product_url.present? %></td>
          <td><%= link_to '削除', item_path(item.id), method: :delete, class: 'btn btn-danger', data: { confirm: '削除しますか？' }%></td>
        </tr>
      <% end %>
    </tbody>
</table>
<% end %>
