<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= display_meta_tags(default_meta_tags) %>
    <%= favicon_link_tag('favicon.ico') %>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/all.css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/themes/base/jquery-ui.min.css">
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <%= analytics_init if Rails.env.production? %>


  </head>
  <body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">
      <% if logged_in? %>
          <%= render "/shared/header" %>
        <% else %>
          <%= render "/shared/before_login_header" %>
      <% end %>
        <% if logged_in? %>
          <%= render "/shared/sidebar_lte" %>
        <% else %>
          <%= render "/shared/before_login_sidebar_lte" %>
        <% end %>
        <div class="content-wrapper bg-dark">
          <%= render "/shared/flash_message" %>
          <%= yield %>
        </div>
    </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <%= javascript_pack_tag 'admin' %>
  </body>
</html>
